include "./input.kdl"
include optional=true "./output.kdl"
include "./cursor.kdl"
include "./layout.kdl"
include "./startup.kdl"
include "./misc.kdl"
include "./animations.kdl"
include "./window-rules.kdl"
include "./layer-rules.kdl"
include "./bindings.kdl"
include "./environments.kdl"
include "./blur.kdl"
include "./switch-events.kdl"
include "./noctalia.kdl"

