layout {

    focus-ring {
        active-color   "#bfc2ff"
        inactive-color "#131316"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#bfc2ff"
        inactive-color "#131316"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#bfc2ff"
        inactive-color "#393d8f"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#bfc2ff80"
    }
}

recent-windows {
    highlight {
        active-color "#bfc2ff"
        urgent-color "#ffb4ab"
    }
}
