layout {

    focus-ring {
        active-color   "#a8c8ff"
        inactive-color "#121316"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#a8c8ff"
        inactive-color "#121316"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#a8c8ff"
        inactive-color "#004689"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#a8c8ff80"
    }
}

recent-windows {
    highlight {
        active-color "#a8c8ff"
        urgent-color "#ffb4ab"
    }
}
