// Programs to automatically start with Niri.
spawn-at-startup "noctalia-shell"
spawn-sh-at-startup "foot --server"
spawn-sh-at-startup "thunar --daemon"
spawn-at-startup "midiplus-smartpad-macropad"
