// Programs to automatically start with Niri.
spawn-at-startup "noctalia-shell"
spawn-sh-at-startup "foot --server"
spawn-sh-at-startup "thunar --daemon"
spawn-at-startup "midiplus-smartpad-macropad"
spawn-at-startup "/etc/nixos/desktop/files/niri/oniri/oniri-1.3.4-x86_64" "--tiling-layout"