layout {

    focus-ring {
        active-color   "#ffaedb"
        inactive-color "#171214"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffaedb"
        inactive-color "#171214"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffaedb"
        inactive-color "#762a5b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffaedb80"
    }
}

recent-windows {
    highlight {
        active-color "#ffaedb"
        urgent-color "#ffb4ab"
    }
}
