// This file is for the R7-PC in this configuration.
// Linked from: /etc/nixos/computers/r7-pc/files/output.kdl

output "Acer Technologies XV242Y TL1EE0018521" {
	// Resolution and refresh rate.
	mode "1920x1080@119.982"

	// Scaling.
	scale 1

	// Rotation.
	//transform "0"

	// Variable refresh rate on demand.
	variable-refresh-rate on-demand=true

	// Focus this monitor on startup.
	focus-at-startup
}