[Desktop Entry]
Type=Application
NoDisplay=true
Icon=micro
Exec=footclient -e micro %F %f
Name=Micro (footclient)
Comment=Open this file in the Micro text editor
Terminal=false
StartupNotify=false